.full-details{
    width : 100%; 
    
    @include media('<md'){
        width: 1200px;
    }
    @include media('<sm'){
        width: 1100px;
    }
    @include media('<xs'){
        width: 1060px;
    }
}
.product-list thead{
    background-color: #f5f5f5;
}
.product-list thead th {
    font-weight: bold;
}

.product-list td , .product-list th{
    padding : 10px;
}

.product-image{
    padding : 5px;
    float:left;
    margin-right : 20px;
}

.product-detail{
    margin-left:20px;
    float:right;
}

.product-detail-col{
    width  : 40%;
}

.product-list .text-center{
    text-align: center;
}

.btn_add_to_cart{
    background-color: #fcb800;
    padding : 5px 10px;
    color: black ;
    border : none;
}

.product-quantity-control .btn-quantity {
    padding:5px 10px;
    color:black ;
    background-color: #fcb800;
    border : none;
    border-radius : 5px;
    max-width: 28px;
}

.product-quantity-control .product-quantity{
    padding : 5px 10px;
}

tr.product-separator td{
    padding : 5px;
    border-bottom:.5px solid #e8e8e8d1;
}

.ps-shopping-product{
    @include media ('<md'){
        overflow: scroll;
    }
}

.single-detail{
    width: 100%;
    @include media('<md'){
        width : 500px
    }
}
.single-detail-wrapper{
    @include media('<md'){
        overflow: scroll;
    }
}
