.ps-variants-controls {
  display: flex;
  justify-content: space-between;
}

.product-variants {
  width: 100%;
  margin: 20px 0;
}

.product-variants .item {
  max-width: 109px;
  padding: 15px;
}

.product-variants .item img {
  width: 100%;
}
