.ps-footer{
    background-color: #373737;
}

.widget-title {
    color: white !important;
}

.call-us , .company-adress {
    color: white !important;
}

.ps-list--link li , .ps-list--link a {
    color :white !important;
}

.ps-footer__copyright p ,  .ps-footer__copyright span{
    color: white !important;
}